@tailwind components;
@tailwind utilities;
@tailwind base;

#root {
  text-align: justify;
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.taskTdBase {
  @apply flex flex-row items-center gap-1 w-40 h-16 overflow-hidden text-start p-3 rounded-sm
}


.inprogress {
  @apply bg-orange-400 text-accent-content badge h-12 w-44
}

.relevant {
  @apply bg-warning text-warning-content badge h-12 w-44
}

.done {
  @apply bg-success text-success-content bg-opacity-70 badge h-12 w-44
}

.missed, .faild {
  @apply bg-error text-error-content badge h-12 w-44
}

.finished,
.graded {
  @apply bg-success text-success-content badge h-12 w-44
}

.assaigment {
  @apply bg-secondary text-secondary-content badge h-12 w-44
}

.midterm, .exam {
  @apply bg-primary text-primary-content badge h-12 w-44
}